
#Areas_Editor{
	
	margin: 0 auto;
	/*min-width:720px;
	max-width:1920px;*/
	max-width:1280px;
	width:100%;
	height:100px;
	
	
}



.ae_panel{
	
	margin:10px;	

}

.ae_sub_panel{
	
	background-color:white;	
	padding:6px;
	margin:10px;	
	min-height:30px;
	
}


.ae_bt{
	
	margin:5px;
    padding: 3px 6px;
    display: inline;
    border: none;
    color: #000;
    cursor: pointer;
    background-color:white;
    
}

.ae_bt:hover{
	
	/*outline: solid 2px;*/
	color: #555;
    
}

#ae_global_transform_panel{
	
	width:290px;;
	
}
#ae_global_transform_panel .ae_input{
	
	width:70px;
	margin:5px;
	
}

#ae_property .ae_input, #ae_property  .ae_label{
	
	width:97%;
	display:block;
	margin:3px;
	
}

#ae_top-panel{
	
	background-color:white;
	padding:20px;

}
.ae_title{
	
	float:left;

}


.ae_bt_save{
	
	float:right;
	padding-left:10px;
	padding-right:10px;
	margin:0px;

}
.ae_info{

	color:grey;

}

#ae_left-panel{
	
	width:120px;
	max-width:920px;
	float:left;

}

#ae_center-panel {
	 /*position:absolute;*/
	 float:left;
	width:auto;
}

#ae_center-panel .imgborder {
	 /*position:absolute;*/
	margin: 0 auto;

}


#ae_right-panel{

	float:right;
	width:300px;
	max-width:920px;
}

#ae_source_image{
	
	display:none;
	
}

#ae_layout_panel{
	
	height:600px;
	overflow-y:scroll;
	
}

.ae_layout_list{
	
	 margin:0px;
	 padding:0px;
}

.ae_listed_area{
	
	list-style-type: none;
	background-color:#DDDDDD;
	padding:3px;
	margin:6px;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
}

.ae_listed_area-selected{

	background-color:#ffcb7d;
	color:white;
	padding:3px;
	margin:6px;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	
}

.delete{
	
	float:right;
	color:black;
}

.select{
	
	background-color:inherit;
	border:none;
	
}


#ae_input_name{
	
	float:clear;
	
	
}


.mode{
	
	background-color:#DDDDDD;
	display:block;
	width:96%;
	
}


.mode-selected{
	
	background-color:white;
	width:96%;

}
